<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Add new user </title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Create new user</h1>
    <form th:object="${user}" th:action="@{save}" method="post">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Name"/>
        </div>
        <div style="clear:both;display: block;height: 10px"></div>
        <div>
            <label th:text="Email" th:for="email"></label>
            <input type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
        </div>
        <div style="clear:both;display: block;height: 10px"></div>
        <div>
            <label th:text="Phone" th:for="phone"></label>
            <input type="text" class="form-control" th:field="*{phone}" placeholder="Phone"/>
        </div>
        <div style="clear:both;display: block;height: 10px"></div>
<input type="submit" value="Save" class="btn btn-success"/>
    </form>
</div>
</body>
</html>